body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    
  }
  
  .survey-form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:#63aee1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  select,
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px;
    cursor: pointer;
    background-color:green;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(141, 228, 141);
    transition: background-color 0.3s;
  }
  
  
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  